<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>new car</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    </head>
    <body>
        <h1>add car information</h1>
        <form class="newcarform" action="/cars" method="post">
            <label for="">make:</label>
            <input type="text" name="" value="">
            <br>
            <label for="">color:</label>
            <input type="text" name="" value="">
            <br>
            <input type="submit" name="" value="submit">
        </form>
    </body>
</html>
